<!-- 头部组件样式2 -->

<template>
  <div class="input">
    <div>智码</div>

    <div class="drop">

    </div>

  </div>



</template>

<script>
  export default {
    name: "Input"
  };
</script>

<style scoped>
  .input {
    position: fixed;
    top: 0px;
    width: 100%;
    color: #323a45;
    padding-top:30px;
    margin-left: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    height: 50px;

  }

  .input .drop{
    margin-right: 30px;

  }
</style>

